*{
  font-size: 10pxpx;
}
body{
  background-color: black;
}
h1{
  font-size: 25px;
}
div{
  text-align: center;
}
button{
  height: 2em;
  width: 6em;
  border: none;
  border-radius: 50px;
}
button:hover{
  cursor: pointer;
}
button.btn-start:active{
  background-color: #00ff00;
}
button.btn-reset:active{
  background-color: red;
}
.btn-start{
  width: 48%;
  background-color: green;
  height: 40px;
}
.btn-reset{
  width: 49%;
  height: 40px;
  background-color: #ff2e16;
}
#container{
  width: 100%;
  display: inline-block;
}
.zona{
  width: 49%;
  display: inline-block;
  background-color: gray;
  margin-bottom: 5px;
}
