*{
  font-size: 14px;
}
body{
  background-color: black;
  margin-left: 20px;
  padding: 0;
}
h1{
  font-size: 20px;
}
div{
  text-align: center;
}
button{
  height: 2em;
  width: 6em;
  border: none;
  border-radius: 50px;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
}
button#comecar:active{
  background-color: #00ff00;
}
button#resetar:active{
  background-color: red;
}
#comecar{
  width: 48%;
  background-color: green;
  height: 40px;
}
#resetar{
  width: 49%;
  height: 40px;
  background-color: #ff2e16;
}
#container{
  width: 100%;
  display: inline-block;
}
.zona{
  width: 49%;
  display: inline-block;
  background-color: gray;
  margin-bottom: 5px;
}
